<div class="title">
  <h1>ドリンク一覧</h1>
</div>
<div class="link-drink">
  <%= link_to '店舗', store_store_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'カテゴリー作成&一覧', store_store_categories_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ジャンル作成&一覧', store_store_genres_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ドリンク作成', new_store_store_drink_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ドリンク一覧', store_store_drinks_path(@store), class: 'btn setting_btn btn-success' %>
</div>
<div class="drink-index">
  <% @categories.each do |category| %>
  <div>
    <h2><%= category.name %></h2>
  </div>
  <div>
    <% @genres.each do |genre| %>
    <div>
      <h3><%= genre.name %></h3>
    </div>
    <div class="drink-index-ta">
      <div><h3>ドリンク名</h3></div>
      <div><h3>カテゴリー名</h3></div>
      <div><h3>ジャンル名</h3></div>
      <div><h3>販売価格名</h3></div>
      <div><h3>原価</h3></div>
      <div><h3>原価率</h3></div>
    </div>
    <div class="drink-index-table">
      <% @drinks.each do |drink| %>
        <div>
          <%= link_to store_store_drink_path(@store, drink.id) do %>
          <%= drink.name%>
          <% end %>
        </div>
        <div><%= drink.category.name%></div>
        <div><%= drink.genre.name%></div>
        <div><%= drink.selling_price%></div>
        <div><%= drink.cost%></div>
        <div><%= drink.cost_rate %></div>
      <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>