<div class="title">
  <p>ドリンク一覧</p>
</div>
<div class="link-drink">
  <%= link_to '店舗', store_store_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'カテゴリー作成&一覧', store_store_categories_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ジャンル作成&一覧', store_store_genres_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ドリンク作成', new_store_store_drink_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ドリンク一覧', store_store_drinks_path(@store), class: 'btn setting_btn btn-success' %>
</div>
<div class="drink-index">
  <% @categories.each do |category| %>
  <div class="drink-category-index">
    <h2><%= category.name %></h2>
  </div>
  <div>
    <% @genres.each do |genre| %>
    <div class="drink-genre-index">
      <%= genre.name %>
    </div>
  </div>
    <div class="drink-index-table">
      <div class="drink-box">
        <% @drinks.each do |drink| %>
        <div>ドリンク名</div>
        <div>
          <%= link_to store_store_drink_path(@store, drink.id) do %>
          <%= drink.name%>
          <% end %>
          <div class="drink-category">
            <div>カテゴリー名</div>
            <div><%= drink.category.name%></div>
          </div>
          <div class="drink-genre">
            <div>ジャンル名</div>
            <div><%= drink.genre.name%></div>
          </div>
          <div class="drink-price">
            <div>販売価格</div>
            <div><%= drink.selling_price%>円</div>
          </div>
          <div class="drink-cost">
            <div>原価</div>
            <div><%= drink.cost%>円</div>
          </div>
          <div class="drink-cost-rate">
            <div>原価率</div>
            <div><%= drink.cost_rate %>％</div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>
</div>