<div class="title">
  <p>ドリンク詳細</p>
</div>
<div class="link-drink">
  <%= link_to '店舗', store_store_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'カテゴリー作成&一覧', store_store_categories_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ジャンル作成&一覧', store_store_genres_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ドリンク作成', new_store_store_drink_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ドリンク一覧', store_store_drinks_path(@store), class: 'btn setting_btn btn-success' %>
</div>
<div class="link-drink">
  <%= link_to 'ドリンク情報編集', edit_store_store_drink_path(@store, @drink.id), class: 'btn setting_btn btn-success' %>
</div>

<div class="drink-information">
  <div>
    <span>ドリンク名  </span><%= @drink.name%>
  </div>
  <div>
    <span>カテゴリー名  </span><%= @drink.category.name%>
  </div>
  <div>
    <span>ジャンル名  </span><%= @drink.genre.name%>
  </div>
  <div>
    <span>販売価格  </span><%= @drink.selling_price%>
  </div>
  <div>
    <span>原価  </span><%= @drink.cost%>
  </div>
  <div>
    <span>原価率  </span><%= @drink.cost_rate%>
  </div>
</div>