<div class="title">
  <p>カテゴリー作成&一覧</p>
</div>
<div class="link-category">
  <%= link_to '店舗', store_store_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'カテゴリー作成&一覧', store_store_categories_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ジャンル作成&一覧', store_store_genres_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ドリンク作成', new_store_store_drink_path(@store), class: 'btn setting_btn btn-success' %>
  <%= link_to 'ドリンク一覧', store_store_drinks_path(@store), class: 'btn setting_btn btn-success' %>
</div>
<div class="category-imformation">
  <div class="category-new">
    <h2>カテゴリー作成</h2>
    <%= form_with model: @category, url: store_store_categories_path(@store, @category.id), local: true do |f| %>
    <div>
      <%= f.label 'カテゴリー名', class: 'col-sm-8' %><br>
      <%= f.text_field :name, class: 'col-sm-8', placeholder: "例)仕込みorカルトorFD" %>
    </div>
    <div class='text-center'>
      <%= f.submit '新規登録', class: 'btn btn-success' %>
    </div>
    <% end %>
  </div>
  <div class="category-index">
  <h2>カテゴリー一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>カテゴリー名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to '編集', edit_store_store_category_path(@store.id, category.id), class: 'btn setting_btn btn-success' %></td>
        <td><%= link_to '削除', store_store_category_path(@store.id, category.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn setting_btn btn-danger "%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>