<div class="title">
  <p>店舗一覧</p>
</div>
<div class="index-title">
  <div class="table-form">
    <div class="name-title">店舗名</div>
    <div class="category-title">カテゴリー数</div>
    <div class="genre-title">ジャンル数</div>
    <div class="drinks-title">商品数</div>
  </div>
  <% @stores.each do |store| %>
    <div class="drink-information-index">
      <div class="name">
        <%= link_to store_store_path(store.id) do %>
        <%= store.name%>
        <% end %>
      </div>
      <div class="category"><%= store.category_ids.count %></div>
      <div class="genre"><%= store.genre_ids.count %></div>
      <div class="drinks">
        <%= link_to store_store_drinks_path(store.id) do %>
        <%= store.drink_ids.count %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
